body {
  margin: 0;
}

.icon-bar {
  display: flex;
  width: 100%;
  background-color: #0c02028f;

  justify-content: flex-start;
}

.icon-bar a {
  width: 20%;
  height: 80px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* see on fa we apply text wali props */
  color: white;
}

.icon-bar a:hover {
  background-color: #823131;
}

.active {
  background-color: #04aa6d;
}

/*  wont work since fa is treated as text  */
/* .fa {
  width: 250px;
} */
